body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.place-list {
    margin: 20px 0;
    padding: 0;
    list-style: none;

}

.place-item {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin-bottom: 5px;
}

.details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

form {
    margin-top: 20px;
    max-width: 400px;
   display: flex;
    flex-direction: column;
    gap: 10px;
   align-items:flex-start;
   
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 5px;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
}

.actions {
    margin-top: 10px;
}

.actions button {
    margin-right: 5px;
}
